@import "normalize.css";

/* base */
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  box-sizing: border-box;
  font-family: "HarmonyOS Sans", "HarmonyOS Sans SC", "HarmonyOS Sans Web",
    "HarmonyOS Sans SC Web", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* user-select: none; */
}

body {
  overflow-x: hidden;
  overflow-y: auto;
}

*,
:after,
:before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

img {
  vertical-align: top;
}

[tabindex] {
  outline: none;
}

a {
  text-decoration: none;
}
