@import "./_handle.scss";
/*
 * 自定义公共样式
 * 界面间距尽量都是8的倍数，如8px，16px，保持统一，美观
 */
.m-b-8 {
    margin-bottom: 8px;
}
.m-b-16 {
    margin-bottom: 16px;
}
.m-b-24 {
    margin-bottom: 24px;
}
.m-b-32 {
    margin-bottom: 32px;
}
.m-b-40 {
    margin-bottom: 40px;
}
.m-b-64 {
    margin-bottom: 64px;
}
.m-t-16 {
    margin-top: 16px;
}
.m-t-24 {
    margin-top: 24px;
}
.m-t-32 {
    margin-top: 32px;
}
.m-t-40 {
    margin-top: 40px;
}

.text-center {
    text-align: center;
}

.flex {
    display: flex;
}

.flex-center {
    align-items: center;
    justify-content: center;
}

// 文本省略号
.text-ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
}

.app-view-block {
    width: 100%;
    height: calc(100vh - 80px);
    overflow-y: auto;
    min-height: 400px;
}

// 文字按钮样式
.app-text-btn {
    cursor: pointer;
    color: rgba(#002FA7, 1.0);
    &:active {
        color: rgba(0, 47, 167, 0.7);
    }
}

// 文字禁用按钮样式
.app-disable-text-btn {
    color: #555550;
    cursor: not-allowed;
}

.c-mk {
    background-color: yellow;
}

// 产品色
.common-body-bg-color {
    @include background_color('bg-color1');
}
.common-content-bg-color {
    @include background_color('bg-color2');
}
.common-text-content-bg-color {
    @include background_color('bg-color3');
}

// 字体色
.common-level-one-color {
    @include font_color('font-color1');
}
.common-level-two-color {
    @include font_color('font-color2');
}

// 字体大小
.common-level-one-fz {
    font-size: 24px;
    line-height: 28px;
}
.common-level-two-fz {
    font-size: 18px;
    line-height: 22px;
}
// 产品文字区块公共样式
.common-text-content-block {
    width: 100%;
    padding: 20px 24px;
    @include background_color('bg-color1');
}

  